@use '../abstracts/' as *;

$space-none: 0;
$space-2: pxToRem(2);
$space-4: pxToRem(4);
$space-8: pxToRem(8);
$space-12: pxToRem(12);
$space-16: pxToRem(16);
$space-20: pxToRem(20);
$space-24: pxToRem(24);
$space-32: pxToRem(32);
$space-40: pxToRem(40);
$space-48: pxToRem(48);
$space-64: pxToRem(64);
$space-80: pxToRem(80);
$space-96: pxToRem(96);

// Spacing Map
$spacers: (
  '0': $space-none,
  '2': $space-2,
  '4': $space-4,
  '8': $space-8,
  '12': $space-12,
  '16': $space-16,
  '20': $space-20,
  '24': $space-24,
  '32': $space-32,
  '40': $space-40,
  '48': $space-48,
  '64': $space-64,
  '80': $space-80,
  '96': $space-96,
) !default;
