<header class="header">
  <a routerLink="/" class="header__logo-link">
    <app-logo class="header__logo" />
  </a>
  <button mat-icon-button class="header__hamburger-btn" aria-label="hamburger menu">
    <mat-icon>menu</mat-icon>
  </button>
  <button
    *ngIf="$isUserLoggedIn()"
    mat-icon-button
    matTooltip="Profile Menu"
    [matMenuTriggerFor]="menu"
    class="header__avatar"
  >
    <app-avatar [avatarUrl]="$user()?.profileImgUrl || ''" [label]="$user()!.name" />
  </button>
  <mat-menu #menu="matMenu">
    <div class="header__profile" *ngIf="$isUserLoggedIn()">
      <div class="header__user">
        <app-avatar [avatarUrl]="$user()?.profileImgUrl || ''" [label]="$user()?.name" />
        <div class="header__user-info">
          <h2 class="text-subtitle header__user-name">{{ $user()!.name }}</h2>
          <p class="text-caption header__user-email">{{ $user()!.email }}</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-raised-button color="primary" (click)="handleLogout()">Log Out</button>
    </div>
  </mat-menu>
</header>
