<header class="header">
  <app-logo class="header__logo" />

  <button mat-icon-button class="header__hamburger-btn" aria-label="hamburger menu">
    <mat-icon>menu</mat-icon>
  </button>

  <button
    mat-icon-button
    *ngIf="user() && !isProfileCardOpen"
    class="header__profile-card-trigger"
    type="button"
    (click)="handleProfileIconClick()"
  >
    <app-avatar [user]="user()" />
  </button>

  <app-profile-cart *ngIf="isProfileCardOpen" (closeProfileCart)="handleProfileIconClick()" />
</header>
