@use '../../../styles/abstracts/' as *;

.header {
  @include flex-box($justify-content: space-between);

  padding: pxToRem(16);
  &__logo {
    display: none;
  }

  &__profile-card-trigger {
    @include flex-box($justify-content: center, $align-items: center);

    width: pxToRem(40);
    height: pxToRem(40);
  }

  @include media-up($breakpoint: $breakpoint-tablet) {
    &__logo {
      display: block;
    }

    &__hamburger-btn {
      display: none;
    }
  }
}
