@use '../../../styles/abstracts/' as *;

.profile-cart {
  display: grid;
  gap: pxToRem(10);
  min-width: pxToRem(250);
  padding: pxToRem(10);
  box-shadow: $shadow-sm;
  border-radius: $radius-sm;

  &__user {
    @include flex-box($align-items: center);

    gap: 16px;
  }

  &__user-name {
    color: $text-primary;
  }

  &__user-email {
    color: $text-secondary;
  }
}
