@use 'abstracts' as *;
@use 'utilities' as *;

.card {
  @include flex-box(space-between, center);

  padding: $space-8;
  padding-bottom: $space-4;

  &__heading {
    @include flex-box($direction: column);

    gap: $space-2 $space-4;
  }

  &__title {
    color: $text-secondary;
  }

  &__text {
    color: $text-primary;
  }

  &__icon-wrapper {
    @include flex-box(center, center);

    width: pxToRem(40);
    height: pxToRem(40);
    border-radius: $radius-sm;
  }

  &--primary {
    .card__icon-wrapper {
      color: $success-bg;
      background-color: $success;
    }
  }

  &--secondary {
    .card__icon-wrapper {
      color: $primary;
      background-color: $pear-rocha;
    }
  }

  &--warning {
    .card__icon-wrapper {
      color: $warning;
      background-color: $warning-bg;
    }
  }

  &--info {
    .card__icon-wrapper {
      color: $calgar-blue;
      background-color: $lilac-murmur;
    }
  }
}
