<article class="profile-cart">
  <button mat-icon-button class="profile-cart__close-btn" (click)="closeProfileCart.emit()">
    <mat-icon> {{ profileCardUI.CLOSE_BUTTON_ICON }} </mat-icon>
  </button>

  <div class="profile-cart__user">
    <app-avatar [user]="user()" />
    <div class="profile-cart__user-info">
      <h2 class="text-subtitle profile-cart__user-name">{{ user()?.name }}</h2>
      <p class="text-caption profile-cart__user-email">{{ user()?.email }}</p>
    </div>
  </div>

  <mat-divider></mat-divider>
  <app-button class="" (click)="logOutRequested()" [label]="profileCardUI.BUTTON_LABEL" />
</article>
