@use './variables' as *;
@use './mixins' as *;
@use './breakpoints' as *;
@use './functions' as *;

.text-display {
  font-size: $font-size-display-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-tightest;
  letter-spacing: 0;

  @include media-up($breakpoint: $breakpoint-desktop-xl) {
    font-size: $font-size-display-desktop;
    line-height: $line-height-tightest;
  }
}

.text-heading {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-loose;
  letter-spacing: 0;
}

.text-title {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  line-height: $line-height-relaxed;
  letter-spacing: 0;
}

.text-subtitle {
  font-size: $font-size-lg;
  font-weight: $font-weight-semi-Bold;
  line-height: $line-height-relaxed;
  letter-spacing: 0;
}

.text-body {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  line-height: $line-height-relaxed;
  letter-spacing: 0;
}

.text-body-medium {
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  line-height: $line-height-relaxed;
  letter-spacing: 0;
}

.text-label {
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  line-height: $line-height-relaxed;
  letter-spacing: 0;
}

.text-label-semibold {
  font-size: $font-size-md;
  font-weight: $font-weight-semi-Bold;
  line-height: $line-height-relaxed;
  letter-spacing: 0;
}

.text-caption {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
  letter-spacing: 0;
}

.text-caption-semibold {
  font-size: $font-size-sm;
  font-weight: $font-weight-semi-Bold;
  line-height: $line-height-tight;
  letter-spacing: 0;
}
