@use '../../../../styles/abstracts' as *;

.login {
  max-width: 2500px;
  @include flex($justify: center, $align: center);

  height: 100dvh;

  &__container {
    @include flex($direction: column, $gap: 12px);

    box-shadow: $shadow-sm;
    border-radius: $radius-sm;
    padding: pxToRem(12px);
    width: 95%;
    max-width: pxToRem(400px);
    min-width: pxToRem(280px);
  }

  &__header {
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    color: $text-primary;
  }

  &__subtitle {
    color: $text-secondary;
  }

  &__form {
    @include flex($direction: column);

    gap: pxToRem(12px);
  }

  &__btn {
    min-height: pxToRem(35px);
    text-align: center;
    text-transform: uppercase;
    box-shadow: $shadow-sm;
  }

  &__error {
    color: $error;
    text-align: center;
  }
}
