@use '../../../styles/abstracts' as *;

.login {
  @include flex-box($justify-content: center, $align-items: center);

  height: 100%;

  &__container {
    @include flex-box($direction: column);

    gap: pxToRem(12);
    padding: pxToRem(12);
    min-width: pxToRem(280);
    border-radius: $radius-sm;
    box-shadow: $shadow-sm;
  }

  &__header {
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    color: $text-primary;
  }

  &__subtitle {
    color: $text-secondary;
  }

  &__form {
    @include flex-box($direction: column);

    gap: pxToRem(12);
  }

  &__btn {
    min-height: pxToRem(35);
    text-align: center;
    text-transform: uppercase;
    box-shadow: $shadow-sm;
  }

  &__error {
    color: $error;
    text-align: center;
  }

  @include media-up($breakpoint: $breakpoint-tablet) {
    &__container {
      min-width: pxToRem(400);
    }
  }
}
