@use '../../../../styles/abstracts' as *;

.login {
  max-width: 2500px;
  @include flex($justify: center, $align: center);

  width: 100%;
  height: 100%;
  margin: 0 auto;

  &__container {
    box-shadow: $shadow-sm;
    border-radius: $radius-sm;
    padding: 12px;
    width: 95%;
    max-width: 400px;
    @include flex($direction: column, $gap: 12px);
  }

  &__header {
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    color: $text-primary;
  }

  &__subtitle {
    color: $text-secondary;
  }

  &__form {
    @include flex($direction: column, $gap: 12px);
  }

  &__btn {
    min-height: 35px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: $shadow-sm;
  }

  &__btn:hover {
    background-color: $link-hover;
  }

  &__error {
    color: $error;
    text-align: center;
  }
}
