$primary: #0e9f6e;

// ------------------------- state -------------------------
$success: #4caf5014;
$success-bg: #2e7d32;
$warning: #d97706;
$warning-bg: #fef3c7;
$error: #e02424;
$error-bg: #fde8e8;

// ------------------------- Neutral -------------------------
$white: #fff;
$gray-200: #e5e7eb;
$sky-700: #0288d1;
$sky-500-10: #03a9f414;
$amber-600: #ed6c02;
$amber-500-10: #ff980014;
$purple-600: #9c27b0;
$purple-600-10: #9c27b014;

// ------------------------- text -------------------------
$text-primary: #000000de;
$text-secondary: #00000099;
$text-tertiary: #e5e7eb;

// ------------------------- background -------------------------
$background: #ffffff;
$bg-secondary: #00000014;
$surface: #f9fafb;
$surface-secondary: #fbfcfe;
$surface-hover: #f3f4f6;

// -------------------------  border -------------------------
$border-primary: #0e9f6e80;
$border: #0000001f;
$border-light: #fff;
$border-dark: #fbfcfe;
$border-focus: #fff;
$icon-primary: #000000de;
$icon-secondary: #00000099;

// ------------------------- link -------------------------
$link: #000000de;
$link-hover: #0b8a60;
$link-active: #0e9f6e;
