$primary: #0e9f6e;

// status
$success: #4caf5014;
$success-bg: #2e7d32;
$warning: #d97706;
$warning-bg: #fef3c7;
$error: #e02424;
$error-bg: #fde8e8;

// natural color
$white: #fff;
$lilac-murmur: #e5e7eb;
$calgar-blue: #0288d1;
$ua-blue: #03a9f414;
$ochre-spice: #ed6c02;
$sunburst-yellow: #ff980014;
$pink-spyro: #9c27b0;
$pear-rocha: #9c27b014;

// text color
$text-primary: #000000de;
$text-secondary: #00000099;
$text-tertiary: #e5e7eb;

// background color
$background: #ffffff;
$bg-secondary: #00000014;
$surface: #f9fafb;
$surface-secondary: #fbfcfe;
$surface-hover: #f3f4f6;

//  border colors
$border-primary: #0e9f6e80;
$border: #0000001f;
$border-light: #fff;
$border-dark: #fbfcfe;
$border-focus: #fff;
$icon-primary: #000000de;
$icon-secondary: #00000099;
$link: #000000de;
$link-hover: #0b8a60;
$link-active: #0e9f6e;
