@use './variables' as *;
@use './mixins' as *;
@use './breakpoints' as *;

.text-display {
  font-size: $font-size-display-mobile;
  font-weight: $weight-700;
  line-height: 40px;
  letter-spacing: 0;

  @include media-up($breakpoint: $breakpoint-desktop) {
    font-size: $font-size-display-desktop;
    line-height: $line-height-display;
  }
}

.text-heading {
  font-size: $font-size-xl;
  font-weight: $weight-700;
  line-height: $line-height-xl;
  letter-spacing: 0;
}

.text-title {
  font-size: $font-size-lg;
  font-weight: $weight-700;
  line-height: $line-height-lg;
  letter-spacing: 0;
}

.text-subtitle {
  font-size: $font-size-lg;
  font-weight: $weight-600;
  line-height: $line-height-lg;
  letter-spacing: 0;
}

.text-body {
  font-size: $font-size-lg;
  font-weight: $weight-400;
  line-height: $line-height-body;
  letter-spacing: 0;
}

.text-body-medium {
  font-size: $font-size-lg;
  font-weight: $weight-500;
  line-height: $line-height-lg;
  letter-spacing: 0;
}

.text-label {
  font-size: $font-size-md;
  font-weight: $weight-500;
  line-height: $line-height-sm;
  letter-spacing: 0;
}

.text-label-semibold {
  font-size: $font-size-md;
  font-weight: $weight-600;
  line-height: $line-height-md;
  letter-spacing: 0;
}

.text-caption {
  font-size: $font-size-xs;
  font-weight: $weight-500;
  line-height: $line-height-xs;
  letter-spacing: 0;
}

.text-caption-semibold {
  font-size: $font-size-sm;
  font-weight: $weight-600;
  line-height: $line-height-xs;
  letter-spacing: 0;
}
