@use '../../../styles/abstracts/' as *;
@use '../../../styles/utilities/' as *;

.sidebar-links {
  padding-top: $space-12;
  padding-bottom: $space-4;

  &__text {
    @include flex-box(start, center);

    width: 100%;
    gap: $space-16;
  }

  &__link {
    @include flex-box($justify-content: start, $align-items: center);

    width: 100%;
    padding: $space-4 $space-16;
    border-radius: $radius-sm;
    color: $text-primary;
    text-transform: capitalize;
  }

  &__link:hover {
    color: $link-hover;
  }

  &__link--active {
    color: $link-active;
  }

  &__expand {
    border-radius: $radius-sm;
  }

  &__badge {
    @include flex-box(center, center);

    min-width: pxToRem(20);
    height: pxToRem(20);
    padding: 0 $space-8;
    border-radius: $radius-full;
    background-color: $error-bg;
    color: $error;
  }

  &__tree .mat-nested-tree-node div[role='group'] {
    padding-left: $space-20;
  }
}
