@use 'abstracts' as *;
@use 'utilities' as *;

.main-layout {
  height: 100%;

  &__content {
    height: 100%;
  }

  &__main {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $space-24;
    box-sizing: border-box;
  }
}
