@use '../../../styles/abstracts/' as *;
@use '../../../styles/utilities' as *;

.main-layout {
  height: calc(100dvh - pxToRem(80));

  &__content {
    height: 100%;
  }

  &__main {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: pxToRem(24);
    box-sizing: border-box;
  }
}
