@use '../../../styles/abstracts' as *;
@use '../../../styles/utilities/' as *;

.edit-restaurant {
  padding: $space-16;

  &__header {
    margin: $space-16 0;
  }

  &__title {
    color: $text-primary;
    margin-bottom: $space-4;
  }

  &__description {
    color: $text-secondary;
  }

  &__card {
    padding: $space-16;
    border-radius: $radius-lg;
  }
}
