<div class="customer-list">
  <h1 class="text-heading customer-list__title">Top Customers</h1>
  <div *ngIf="!customerList || !customerList.length" class="customer-list__not-found">
    <p class="text-body customer-list__not-found-message">
      No top customers available at the moment.
    </p>
  </div>
  <ul class="customer-list__container">
    <li *ngFor="let user of customerList" class="customer-list__user">
      <div class="customer-list__user-body">
        <app-avatar [name]="user.name" [profileImgUrl]="user.profileImgUrl" />
        <div class="customer-list__user-info">
          <h2 class="text-subtitle customer-list__user-name">{{ user.name }}</h2>
          <p class="text-caption customer-list__user-email">{{ user.email }}</p>
        </div>
      </div>
      <div>
        <span class="text-subtitle customer-list__amount"> {{ user.totalSpend | currency }} </span>
      </div>
    </li>
  </ul>
</div>
